{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="blog-posts">
        {% for post in blogpages %}
            <article class="blog-post-preview">
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                
                {% if post.specific.main_image %}
                    <div class="blog-post-image">
                        {% image post.specific.main_image width-400 %}
                    </div>
                {% endif %}
                
                <p class="blog-post-intro">{{ post.specific.intro }}</p>
                <p class="blog-post-date">{{ post.specific.date }}</p>
                
                {% if post.specific.categories.all %}
                    <div class="blog-post-categories">
                        Categories: 
                        {% for category in post.specific.categories.all %}
                            <span class="category-tag">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if post.specific.tags.all %}
                    <div class="blog-post-tags">
                        Tags:
                        {% for tag in post.specific.tags.all %}
                            <span class="tag">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <a href="{% pageurl post %}" class="read-more">Read more &rarr;</a>
            </article>
        {% endfor %}
    </div>

{% endblock %}
